!!!
%html
  %head
    %title Movie Night
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %span.brand Movie Night
        %ul.nav

  .container
    = yield
  = javascript_include_tag 'application'
